<!-- TODO -->
<div *ngIf="user">
    <div class="input-group mb-3 flex-nowrap">
        <div class="input-group-prepend w-25">
            <label class="input-group-text w-100">Name</label>
        </div>
        <input type="text" [disabled]="true" class="form-control" id="userName" [(ngModel)]="user.name" aria-describedby="button-addon2">
        <div class="input-group-append">
            <button [className]="user.name ? 'btn btn-outline-success':'btn btn-outline-warning'" type="button" id="button-addon2" [ngbPopover]="setPopoverText(user.name)" triggers="mouseenter:mouseleave" popoverClass="popover-bg"><fa-icon [icon]="user.name ? 'check-circle': 'info-circle'" ></fa-icon></button>
          </div>
    </div>
    <div class="input-group mb-3 flex-nowrap">
        <div class="input-group-prepend w-25">
            <label class="input-group-text w-100">Level</label>
        </div>
        <input type="text" [disabled]="true" class="form-control" id="level" [(ngModel)]="user.level" aria-describedby="button-level">
        <div class="input-group-append">
            <button [className]="user.level ? 'btn btn-outline-success':'btn btn-outline-warning'" type="button" id="button-level"><fa-icon [icon]="user.level ? 'check-circle': 'info-circle'"></fa-icon></button>
          </div>
    </div>
    <div class="input-group mb-3 flex-nowrap">
        <div class="input-group-prepend w-25">
            <label class="input-group-text w-100 text-7">Battles won</label>
        </div>
        <input type="text" [disabled]="true" class="form-control" id="battle" [(ngModel)]="user.battleWon" aria-describedby="button-battle">
        <div class="input-group-append">
            <button [className]="user.battleWon ? 'btn btn-outline-success':'btn btn-outline-warning'" type="button" id="button-battle"><fa-icon [icon]="user.battleWon ? 'check-circle': 'info-circle'"></fa-icon></button>
          </div>
    </div>
    <div class="input-group mb-3 flex-nowrap">
        <div class="input-group-prepend w-25">
            <label class="input-group-text w-100 text-7">Distance walked</label>
        </div>
        <input type="text" [disabled]="true" class="form-control" id="level" [(ngModel)]="user.distanceWalk" aria-describedby="button-distance">
        <div class="input-group-append">
            <button [className]="user.distanceWalk ? 'btn btn-outline-success':'btn btn-outline-warning'" type="button" id="button-distance"><fa-icon [icon]="user.distanceWalk ? 'check-circle': 'info-circle'"></fa-icon></button>
          </div>
    </div>
    <div class="input-group mb-3 flex-nowrap">
        <div class="input-group-prepend w-25">
            <label class="input-group-text w-100 text-7">Pokemon caught</label>
        </div>
        <input type="text" [disabled]="true" class="form-control" id="level" [(ngModel)]="user.pokeCaught" aria-describedby="button-pokeCaught">
        <div class="input-group-append">
            <button [className]="user.pokeCaught ? 'btn btn-outline-success':'btn btn-outline-warning'" type="button" id="button-pokeCaught"><fa-icon [icon]="user.pokeCaught ? 'check-circle': 'info-circle'"></fa-icon></button>
          </div>
    </div>
    <div class="input-group mb-3 flex-nowrap">
        <div class="input-group-prepend w-25">
            <label class="input-group-text w-100">Total</label>
        </div>
        <input type="text" [disabled]="true" class="form-control" id="level" [(ngModel)]="user.total" aria-describedby="button-total">
        <div class="input-group-append">
            <button [className]="user.total ? 'btn btn-outline-success':'btn btn-outline-warning'" type="button" id="button-total"><fa-icon [icon]="user.total ? 'check-circle': 'info-circle'"></fa-icon></button>
          </div>
    </div>
    <!-- TODO add user to ranking, reset user -->
    <div class="d-flex justify-content-between mb-3">
        <button class="btn btn-outline-success" (click)="addUser()"><fa-icon icon="check-circle"></fa-icon>&nbsp; Add records</button>
        <button class="btn btn-outline-warning" (click)="reset()"><fa-icon icon="times-circle"></fa-icon>&nbsp; Reset</button>

    </div>
</div>


