<div class="d-md-flex justify-content-md-center">
    <h2 class="poke-title1 m-3 align-self-md-center">P<img class="bol-text" src="assets/pokeball.png" />go</h2>
    <h2 class="poke-title2 align-self-md-end">Crazy Town!</h2>
</div>
<!-- <hr class="my-4 mb-2"> -->