<div *ngIf="messages">
  <app-messages [messages]="messages"></app-messages>
</div>
<div class="row">
  <div class="col-md-6" *ngIf="!user">
    <app-create-user></app-create-user>
  </div>
  <div class="col-md-6" *ngIf="user">
    <app-user-details [user]="user"></app-user-details>
  </div>
  <div class="col-md-4 offset-md-1" *ngIf="imgURL">
    <app-image-card [imgURL]="imgURL"></app-image-card>
  </div>
</div>