<table class="table table-dark bg-transparent" *ngIf="users">
    <thead>
        <tr>
            <th scope="col"><fa-icon icon="medal"></fa-icon></th>
            <th scope="col">Name</th>
            <th scope="col">Level</th>
            <th scope="col" *ngIf="innerWidth>600">Battles Won</th>
            <th scope="col" *ngIf="innerWidth>600">Walked</th>
            <th scope="col" *ngIf="innerWidth>600">Pokémon Caught</th>
            <th scope="col">Total</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users | async; index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td><span class="text-uppercase font-weight-bold">{{ user.name }}</span>
            </td>
            <td>{{ user.level | number }}</td>
            <td *ngIf="innerWidth>600">{{ user.battleWon | number }}</td>
            <td *ngIf="innerWidth>600">{{ user.distanceWalk }}</td>
            <td *ngIf="innerWidth>600">{{ user.pokeCaught | number }}</td>
            <td>{{ user.total | number }}</td>
        </tr>
    </tbody>
</table>