.bg-poke{
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-image: url('../assets/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.8;
}

