<app-navbar></app-navbar>
<!-- <div class="container-fluid d-flex w-100 h-100 p-3 mt-5 flex-column"> -->
<div class="d-flex flex-row">
  <div class="col-lg-8">
    <div class="card m-2 bg-dark bg-half-transparent">
      <app-title></app-title>
      <div class="card-body">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <!-- <div class="parallax"></div> -->
</div>