<!-- <div class="card bg-transparent text-white" *ngIf="imgURL">
    <img class="card-img image-fluid bg-transparent" [src]="imgURL" alt="Card image">
    <div class="card-img-overlay d-flex align-items-center">
      <div class="card-body">
        <h2 class="card-title" *ngIf="loading">Analyse image...</h2>
        <app-loading *ngIf="loading"></app-loading>
      </div>
    </div>
  </div> -->
  <div *ngIf="imgURL">
    <img class="card-img image-fluid bg-transparent" [src]="imgURL" alt="Card image">
  </div>
