<div class="input-group mb-3 flex-nowrap">
    <div class="input-group-prepend w-25">
        <label class="input-group-text w-100">Name</label>
    </div>
    <input #name type="text" (input)="setUserName(name.value)" class="form-control" id="userName" aria-describedby="button-addon2">
    <div class="input-group-append">
        <button placement="left" [className]="isInputError? 'btn btn-danger':'btn btn-outline-warning'" type="button" id="button-addon2" [ngbPopover]="popoverMessageName" triggers="mouseenter:mouseleave"><fa-icon icon="info-circle"></fa-icon></button>
      </div>
</div>
<div class="input-group mb-3 flex-nowrap">
    <div class="input-group-prepend w-25">
        <label class="input-group-text w-100">Level</label>
    </div>
    <input #level type="number" [disabled]="!username" (input)="setUserLevel(level.value)" class="form-control" id="userName" aria-describedby="button-level">
    <div class="input-group-append">
        <button placement="left" [className]="isInputError? 'btn btn-danger':'btn btn-outline-warning'" type="button" id="button-level" [ngbPopover]="popoverMessageName" triggers="mouseenter:mouseleave"><fa-icon icon="info-circle"></fa-icon></button>
      </div>
</div>
<div class="form-group d-flex justify-content-center" *ngIf="username && userLevel">
    <label for="upload" class="btn btn-lg btn-secondary">
        <span aria-hidden="true">
            <fa-icon [icon]="['fas','upload']"></fa-icon>&nbsp;Screenshot
        </span>
        <input #file (change)="preview(file.files)" accept='image/*' type="file" id="upload"
            style="display:none">
    </label>
</div>
