<!-- <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-transparent">
    <a class="navbar-brand" routerLink="">
      <img src="assets/pokeball.png" width="30" height="30"/>
    </a>
    <button class="navbar-toggler btn btn-outline-warning" type="button" 
    (click)='isNavbarCollapsed=!isNavbarCollapsed' 
    data-target="#navbarNav" aria-controls="navbarNav" 
    [attr.aria-expanded]="!isNavbarCollapsed"
    aria-label="Toggle navigation">Menu
        <fa-icon [icon]="['fas','bars']"></fa-icon>
      </button>
      <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item" ngbDropdown display="dynamic">
            <a class="nav-link" style="cursor: pointer;" ngbDropdownToggle id="navbarDropdown1" role="button">blbla.llll@hotmail.com</a>
            <div ngbDropdownMenu aria-labelledby="navbarDropdown1" class="dropdown-menu">
              <a ngbDropdownItem routerLink="upload">Upload screenshot</a>              
            </div>
          </li>
        </ul>
      </div>
  </nav> -->
  <nav class="navbar sticky-top navbar-dark bg-transparent">
    <a class="navbar-brand" routerLink="">
      <img src="assets/pokeball.png" width="30" height="30"/>
    </a>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item" display="dynamic">
            <button class="btn btn-outline-warning border-0" routerLink="upload"><fa-icon icon="upload"></fa-icon>&nbsp; Upload screenshot</button> 
          </li>
        </ul>
  </nav>
