/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';
@import url(https://db.onlinewebfonts.com/c/a222402127a0453c817a6cf4c3d9810b?family=Pokemon);

html, body {
    height: 100%;
    /* background-image: url('assets/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.8; */
}

.btn-outline-warning:focus, .btn-outline-warning.focus {
    box-shadow: 0 0 0 0.2rem #3c5aa6 !important;
  }
  .btn-outline-warning {
    color: #ffcc03c7;
    border-color: #ffcc03c7;
  }
  
  .btn-outline-warning:hover {
    color: #3c5aa6;
    /* background-color: #ffcc03c7; */
    background-color: transparent;
    border-color: #ffcc03c7;
  }
  
  
  .btn-outline-warning.disabled, .btn-outline-warning:disabled {
    color: #ffcc03c7;
    background-color: transparent;
  }
  
  .btn-outline-warning:not(:disabled):not(.disabled):active, .btn-outline-warning:not(:disabled):not(.disabled).active,
  .show > .btn-outline-warning.dropdown-toggle {
    color: #3c5aa6;
    /* background-color: #ffcc03c7; */
    background-color: transparent;
    border-color: #ffcc03c7;
  }
  
  .btn-outline-warning:not(:disabled):not(.disabled):active:focus, .btn-outline-warning:not(:disabled):not(.disabled).active:focus,
  .show > .btn-outline-warning.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem #3c5aa6 !important;
  }

.bol-text{
    height: 4.5rem;
    margin-right: .6rem;
    /* color: transparent; */
    /* background-image: url('/src/assets/pokemon.svg'); */
}

.poke-title1{
    font-size: 6rem;
    letter-spacing: 0.08em;
    font-family: 'Pokemon', serif!important;
    color: #ffcc03c7!important;
    text-shadow: -0.5rem 0.4rem 0.3rem #3c5aa6;
}

.poke-title2{
    font-size: 3rem;
    letter-spacing: 0.08em;
    font-family: 'Pokemon', monospace!important;
    color: #ffcc03c7!important;
    text-shadow: -0.5rem 0.4rem 0.3rem #3c5aa6;
}

.poke-title-alt1{
    font-size: 6rem;
    letter-spacing: 0.08em;
    font-family: 'Pokemon', monospace!important;
    color: #ffffffc7!important;
    text-shadow: -0.5rem 0.4rem 0.3rem #bcaec0;
}
.poke-title-alt2{
    font-size: 3rem;
    letter-spacing: 0.08em;
    font-family: 'Pokemon', monospace!important;
    color: #ffffffc7!important;
    text-shadow: -0.5rem 0.4rem 0.3rem #bcaec0;
}

/* .btn-outline-warning{
    color: #FFCC03;
    border-color: #FFCC03;
}
.btn-outline-warning:hover{
    
} */

.label-lg{
    font-size: 1.2rem!important;
}

.bg-half-transparent{
    /* opacity: 0.5!important; */
    background-color: rgb(52, 58, 64,0.5)!important;
}

hr{
    border-top: 1px solid #fff;
}

.item-inherit{
    border: none;
    background-color: inherit;
    color: inherit;
}

.parallax {
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-image: url('assets/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.8;
}
.bg-poke{
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-image: url('assets/background2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

body {
    color: #fff;
    font-family: 'pokemon-font', monospace;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}

@media only screen and (max-width: 576px){
    .poke-title2{
        font-size: 2rem;
    }
    .bol-text{
        height: 3.5rem;
    }
}
