<div class="modal-header bg-dark bg-half-transparent">
    <h4 class="modal-title">Analysing image ...</h4>
</div>
<div class="modal-body bg-dark bg-half-transparent">
    <div class="lds-circle d-flex justify-content-center"><img src="assets/pokeball.png"/></div>
</div>
