<ngb-alert class="p-0" [type]="message.type" *ngIf="!staticAlertClosed" (close)="staticAlertClosed = true">
    <div class="d-flex justify-content-start mt-1">
        <img class="poke-alert" [src]="pokeImage" *ngIf="pokeImage"/>
        <div class="pl-3 pt-1 mb-0"><h6 class="mb-0 font-weight-bold">{{message.prefix}}</h6>
            <p class="mb-0">{{message.message}}</p></div>
    </div>    
</ngb-alert>

